#clock {
	color:#2FCAFC;
	bottom:49%;
	position:absolute;
	right:20px;
	z-index:9999;
	font-size:25px;
}

#clock div{
	display: inline-block;
	font-family: helvetica;
}

#meridian {
	margin-left:2px;
}