#map { 
	top:10px;
	background-color: black;
 }

body{
	background-color:black;
	overflow: hidden;
}

.leaflet-control-layers-toggle {
  background-position: 1 1px !important; 
  background-size: 23px 23px !important;
}

.leaflet-control-layers-overlays label {
	cursor:pointer;
	color:white;
}

.leaflet-control-layers.leaflet-control {
	background:rgb(29,29,29);
}

.leaflet-control-layers.leaflet-control text {
	color:white;
}

#container {
	height:calc(100% - 46px);
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
	background-color: rgb(29,29,29);
}

.leaflet-top.leaflet-left a{
	background-color: rgb(78,78,78);
}

#header {
	text-align: center;
}

#top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

#label, #label-date {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-family:monospace;
	font-size:40px;
	color:rgb(212,212,212);
}

#label-date {
	top:55%;
	font-size:30px;
}

#label div {
	display: inline-block;
}
